@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Roboto;
}


.nav, .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
}


.one{
    background-color: #1F2937;   
    color: white;   
    padding: 20px 40px 100px;
    gap: 100px;
    display: flex;
    flex-direction: column;
}


img{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1{
    font-size: 24px; 
    color: #F9FAF8;
    margin: 0;
}


.hero{
font-size: 48px;
color: #F9FAF8;
font-weight: 900;
line-height: 1em;
margin-bottom: 8px;
}

.subhero{
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.onee{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
}

.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
}

.two ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block{
    max-width: 180px;
}

.block li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 40px;
}

.block img{
    border: solid 4px #3882F6;
    padding: 0;
    border-radius: 15px;
}

.two ul{
    gap: 55px;
}

.three{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 50px 0 50px 0;
}

.para{
    font-size: 36px;
    font-style: italic;
    font-weight: 230;
}

.quote{
    display: flex;
    flex-direction: column;
    max-width: 769px;
    justify-content: center;
    margin: 60px;
    flex-wrap: wrap;
}

.cred{
    font-weight: bold;
    font-size: 24px;
    align-self: self-end;
}

.four{
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.box{
    background-color: #3882F6;
    max-width: 1000px;
    flex-grow: 1;
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-radius: 10px;
    margin: 30px;
}

.main{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.sub{
    color: white;
}

.twoo{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border:solid white 2px;
    border-radius: 8px;
    padding: 8px 36px;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: 18px;
}